.div-exp{
  margin-bottom: 10%;
  margin-right: 15%;
  margin-left: 15%;
  line-height: 1.5;
  margin-top: 80px;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  display: inline-block;
  height: 400px;
}
.h1-class{
text-align: center;
}
i{
  color:rgb(94 234 212);
  font-size: 14px;
}
.company-list {
  display: flex;
  flex-direction: column;
}

.company-item {
  position: relative;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
}

.company-item:hover {
  background-color: #35415a;
}

.vertical-line {
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #2d384f;
}

.selected {
  color:rgb(94 234 212);
  background-color: #35415a;
}

.selected .vertical-line {
  text-decoration: none;
    text-decoration-skip-ink: auto;
    transition: var(--transition);
  transition: 0.5s step-start; 
  background-color:rgb(94 234 212);

}

.experience-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}
hr{
  width: 100%;
}
.experience-details {
  flex: 2;
  padding-left: 20px;
}
.header {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

.date {
font-size: 13px;
font-weight: 300;
}
.job-title{
  font-size: 16px;
}
.company{
  margin-left: 2px;
  color:rgb(94 234 212);
  font-size: 16px;
  font-weight: light;
}
.company:hover{
  text-decoration: underline;
  transition: 0.4s;
  cursor: pointer;
}
.job-title,
.company,
.date {
  margin: 0;
}

.description {
  color: rgb(128, 142, 157);
  margin-bottom: 10px;
  font-size: 16px;
font-weight: 400;
}

.skills span {
  margin-right: 5px;
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 3px;
}
.resume:hover{
  color:rgb(94 234 212);
}
.resume{
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.resume a{
  text-decoration: none;
}
.resume a:hover{
  /* color: aqua; */
  text-decoration: underline;
}
.diagonal-icon {
  color:aliceblue;
  transform: rotate(45deg);
}
/* .resume .diagonal-icon:hover{ 
  font-size: 2ex;
  color: aqua;

  
} */

@media only screen and (max-width: 768px) {
  .div-exp{
    margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
    line-height: 1.5;
    margin-top: 0;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    height: 400px;
  }
  .div-exp .h1-class{
display: none; 
 }
 .company-list {
  display: block;
}

.company-item {
  display: flex;
   justify-content: center;
    align-items: center;  
    margin-right: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 8px;
  font-size: 15px;
  font-weight: 450;
  border: 1px solid #2d384f; /* Border around the box */
 margin-bottom: 30px;
}

.company-item:hover {
  background-color: #35415a;
}

.vertical-line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #2d384f;
}

.selected {
  color:rgb(94 234 212);
  background-color: #35415a;
}

.selected .vertical-line {
  background-color:rgb(94 234 212);

}

.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-details {
  padding-left: 0;
}

.header {
  display: flex;
  align-items: center;
}

.date {
  font-size: 14px;
  font-weight: 300;
}

.job-title {
  font-size: 16px;
}

.company {
  margin-left: 2px;
  color:rgb(94 234 212);
  font-size: 16px;
  font-weight: light;
}

.company:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.job-title,
.company,
.date {
  margin: 0;
}

.description {
  color: rgb(128, 142, 157);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.resume {
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
}

.resume a {
  text-decoration: none;
}

.resume a:hover {
  text-decoration: underline;
}
}