.div-exp{
  margin-bottom: 10%;
  margin-right: 15%;
  margin-left: 15%;
  line-height: 1.5;
  margin-top: 80px;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  display: inline-block;
  height: 400px;
}
.h1-class{
text-align: center;
}
i{
  color: aqua;
  font-size: 10px;
}
.company-list {
  display: flex;
  flex-direction: column;
}

.company-item {
  position: relative;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
}

.company-item:hover {
  background-color: #35415a;
}

.vertical-line {
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #2d384f;
}

.selected {
  color: aqua;
  background-color: #35415a;
}

.selected .vertical-line {
  text-decoration: none;
    text-decoration-skip-ink: auto;
    transition: var(--transition);
  transition: 0.5s step-start; 
  background-color: aqua;
}

.experience-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}
hr{
  width: 100%;
}
.experience-details {
  flex: 2;
  padding-left: 20px;
}
.header {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

.date {
font-size: 13px;
font-weight: 300;
}
.job-title{
  font-size: 16px;
}
.company{
  margin-left: 2px;
  color: aqua;
  font-size: 16px;
  font-weight: light;
}
.company:hover{
  text-decoration: underline;
  transition: 0.4s;
  cursor: pointer;
}
.job-title,
.company,
.date {
  margin: 0;
}

.description {
  margin-bottom: 10px;
  font-size: 16px;
font-weight: 300;
}

.skills span {
  margin-right: 5px;
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 3px;
}

/* 
h1{
 color: rgb(255, 255, 255);
 font-style:normal; 
}


.svg{
  margin-bottom: -83px;
  cursor: pointer;
}
.vl{
  margin-top: 10px;
  border: 1px solid floralwhite;
  height: 300px;
  overflow-y:hidden;
overflow-block:scroll;
 
} */
.resume:hover{
  color: aqua;
}
.resume{
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.resume a{
  text-decoration: none;
}
.resume a:hover{
  /* color: aqua; */
  text-decoration: underline;
}
/* .resume .diagonal-icon:hover{ 
  font-size: 2ex;
  color: aqua;

  
} */
@media only screen and (max-width: 768px) {
  .div-exp{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
   font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  display: inline-block;
}
}
.diagonal-icon {
  color:aliceblue;
  transform: rotate(45deg);
}
/* .div-exp h4{
  display: none;
} */
@media only screen and (max-width: 768px) {
  .div-exp{
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    line-height: 1.5;
    margin-top: 100px;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    display: inline-block;
    height: 400px;
  }
  .div-exp .h1-class{
display: none; 
 }
}